@model SimpleBankSystem.Models.ViewModel.Account.DetailViewModel
@{
    ViewData["Title"] = "AccountDetail";
}

<script src="~/js/Account/Detail.js"></script>

<h2>AccountDetail</h2>
<div class="form-horizontal">
    <div class="form-group">
        <label asp-for="AccountNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AccountNumber" class="form-control"  readonly/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AccountName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="AccountName" class="form-control" readonly/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Balance" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input id="balance" asp-for="Balance" class="form-control"  readonly/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="CreatedDate" class="form-control" readonly/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <button class="btn btn-info" data-toggle="modal" data-target="#depositModal">Deposit</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#withdrawModal">Withdraw</button>
    <button class="btn btn-success" data-toggle="modal" data-target="#transferModal">Transfer</button>
</div>

<div class="modal fade form-horizontal" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLabel">Deposit</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Amount</label>
                    <div class="col-md-10">
                        <input id="depositAmount" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Deposit()" data-dismiss="modal">Deposit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade form-horizontal" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLabel">Withdrawing</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Amount</label>
                    <div class="col-md-10">
                        <input id="withdrawAmount" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Withdraw()" data-dismiss="modal">Withdraw</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade form-horizontal" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLabel">Transfering</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Target</label>
                    <div class="col-md-10">
                        <input  id="targetAccountNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Amount</label>
                    <div class="col-md-10">
                        <input id="transferAmount" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Transfer()" data-dismiss="modal">Transfer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>